//============================================================
// Caching
//============================================================

$random: random(99999);

// ============================================================
// Viewports
//=============================================================

$desktop-medium: 1420px;
$desktop-small: 1024px;
$tablet-medium: 768px;
$tablet-small: 480px;
$mobile-small: 320px;
$mobile-menu: 992px;

//============================================================
// FONTS
//============================================================
$font-1: 'Nunito', sans-serif;
$font-2: 'Fira Sans', sans-serif;
$font-3: 'Merriweather Sans', sans-serif;
$font-4: 'Mochiy Pop P One', sans-serif;
$font-5: 'Poppins', sans-serif;



//============================================================
// Colors
//============================================================

$grey-bg :   #e5e4ed; // #f6f7fb; 
$grey-text: #183b56; // #364251;
$orange-light: #dad5c4;
$grey-light-1 : #cbcbcb;
$green-1: #3acc83;
$green-light-1 : #c9ded4;




$lavender: #3767ce;
$navy: #002575;
$violet: #8e63ba;
$grey-inactive: #eaeaea;
$grey-border: #677077;
$grey-darker: #d1d0d0;

$grey-legend: #595959;
$yellow: #ffee72;

$cyan: #68dcbd;

$blue-1: #0042cf;
$red-1: #d14904;
$red-1-light: #faece5;
$white: #fff;
$black: #000;
$red: #de0d0d;
$red-2: #d5113a;
$yellow: #ffe003;
$white-1: #f2f4f7;
$black-1: #1c1c1c;
$red-warning: #cd460c;
$blue-dark: #003b81;
$blue-darken: #00234c;
$teal-1: #49aac6;
$teal-2: #66b3fb;
$teal-3: #0053b3;


$focus-color: #5693cf;
$focus-color-2: rgba(98, 131, 168, 0.51);

$grey-dark-3: #b4bfc9;
$grey-darken: #575757;
$grey-light-5: #ebeff3;
$green-trans: rgba(137, 211, 186, 0.88);
$red-trans: rgba(255, 111, 97, 0.87);
$blue-trans: rgba(18, 50, 116, 0.92);
$blue-sky-trans: rgba(52, 123, 220, 0.93);
$activeShadow: 0 0 10px rgba($teal-2, 0.5);

$blue-gradien-dark: #05366f;
$blue-gradien-light: #0669db;

$blue-transparent-bg: rgba(0, 35, 76, 0.9);
//============================================================
// Easing
//============================================================

// Cubic
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
// Circ
$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
// Expo
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
// Quad
$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
// Quart
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
// Quint
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
// Sine
$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
// Back
$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$trans: cubic-bezier(0.86, 0, 0.07, 1);

// Header Variables
$header_container_height : 128px;
$header_logo_mobile_height : 82px;