
.ul-list,
%ul {
    font-size: 0.875rem;
    list-style: none;
    margin: 0 0 2rem 1rem;
    padding: 0 0 0 1.6em;

    & > li {
    line-height: 1.6;
    margin-bottom: 1.5em;
    padding: 0 0 0 16px;
    position: relative;

    &:before {
        background: $teal-3;
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: 6px;
        left: -8px;
        position: absolute;
        top: 8px;
        width: 6px;
    }
    }
}


.ol-list,
%ol {
    counter-reset: li;
    font-size: 0.875rem;
    list-style: none;
    margin-bottom: 2rem;
    padding-left: 3em;

    &>li {
        counter-increment: li;
        line-height: 1.6;
        margin-bottom: 1.5em;
        padding: 0 0 0 16px;
        position: relative;

        &::before {
            color: $teal-3;
            content: counter(li);
            display: inline-block;
            font-weight: 900;
            left: 4px;
            margin-left: -1em;
            position: absolute;
            top: 0;
            width: 1em;
        }

        &::after {
            background-color: $teal-3;
            border-radius: 50%;
            content: "";
            height: 3px;
            left: 15px;
            margin-left: -1em;
            position: absolute;
            top: 13px;
            width: 3px;
        }
    }
}
