.text-justify{
    text-align: justify;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-no-wrap{
    white-space: nowrap;
}

.text-lowercase{
    text-transform: lowercase;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-capitalize{
    text-transform: capitalize;
}

.text-italic{
    font-style: italic;
}

.text-bold{
    font-weight: bold;
}