<div class="ds-banner mb-60">
    <div class="container">
        <div class="ds-banner-container">
            <div class="ds-banner-content">

                <h1>Trouver un ouvrage dans le catalogue de la bibliothèque 
                   <span>Daaray Kaamil</span> 
                </h1>
                <form action="">

                    <div class="ds-form ds-home-search">
                        <div class="input_gpr display-flex align-items-center  justify-space-between">
                            <input id="user_name" type="search" placeholder="Rechercher par nom, auteur ou thème">
                            <button type="submit" class="btn btn-grey-solid btn-icon-left btn-icon-search  btn-medium">Rechercher</button>
                        </div>
            
                        <!-- <div class="input_gpr">
                            <label for="user_last_name">Nom d'utilisateur</label>
                            <input id="user_last_name" type="text" placeholder="Votre nom d'utilisateur">
                        </div> -->
            
                    </div>

                </form>

            </div>
            <div class="ds-banner-img">
                <img src="/assets/images/illustra01.png" alt="">
            </div>
        </div>
    </div>
</div>
