<div class="ds-banner ds-banner-video mt-60 mb-60">
    <div class="container">
        <div class="ds-banner-container">
            <div class="ds-banner-content">

                <h2>Visite
                   <span>virtuelle</span> 
                </h2>

                <h3>A la découverte de Daaray Kaamil</h3>
                <p>Plongez au coeur de la bibliothèque Daaray Kaamil de Cheikhoul Khadim.</p>
               

            </div>
            <div class="ds-banner-img">
                <img src="/assets/images/imageDK.png" alt="">

                <div class="ds-play">
                    <em class="fontello icon-youtube-play" aria-hidden="true"></em>
                   
                    <!-- <video src=""></video> -->
                </div>
            </div>
        </div>
    </div>
</div>
