<a href="https://google.com/" class="btn btn-grey-outline  btn-medium">
		Mon Button
	</a>

	<a href="https://google.com/" class="btn btn-grey-solid  btn-medium">
		Mon Button
	</a>

	<a href="https://google.com/" class="btn btn-blue-outline  btn-medium">
		Mon Button
	</a>

	<a href="https://google.com/" class="btn btn-white-outline  btn-icon-left btn-icon-recommencer">
		Lorem ipsum
	</a>

	<button type="submit" class="btn btn-teal-solid  btn-small">
		Mon Button solid
	</button>

	<a href="https://google.com/" class="btn btn-blue-solid  btn-small  btn-icon-left btn-icon-recommencer">
		Lorem ipsum
	</a>

	<button type="button" class="btn btn-red-solid  btn-medium">
		Mon Button outline avec icon
	</button>


	<button type="button" class="btn btn-green-solid  btn-medium">
		Mon Button outline avec icon
	</button>

		<button type="button" class="btn btn-green-outline  btn-medium">
		Mon Button outline avec icon
	</button>


	<a href="https://google.com/" class="btn btn-teal-solid  btn-medium  btn-icon-right btn-icon-right-circle">
		Mon Button outline avec icon
	</a>