<div class="ds-card-banner mb-60 card-anime">
    <div class="ds-card-banner--img">
        <img src="/assets/images/khassida_cover02.png" alt="">
    </div>
    <div class="ds-card-banner--content">
        <h2 > <em class="fontello icon-book" aria-hidden="true"></em> Livre du mois</h2>
        <h3>Mounawirou Soudour</h3>
        <p class="ds-card-banner-auteur sub-title sub-t-green">Cheikhoul Khadim</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis inventore nam est 
            sapiente ducimus, repellendus incidunt, asperiores placeat quod iure quis porro 
            ipsum quia modi ut tenetur esse, voluptatem a.
        </p>
        <a class="btn btn-green-solid  btn-icon-left btn-icon-search btn-medium" href="#">Consulter</a>
        <button class="btn btn-green-outline btn-icon-left btn-icon-heart-empty btn-medium">
            Favoris
        </button>
        
    </div>
</div>

<section class="cleafix mt-40">

    <h2 class="heading-underline">Ouvrages les plus consultés</h2>

    <div class="ds-card-wrapper">

        <div class="ds-card ">
            
                <div class="ds-card--img card-anime">
                    <img src="/assets/images/khassida_cover.png" alt="">


                    <div class="ds-card-links">
                        <button class="ds-card--like"> <em class="fontello icon-heart-empty" aria-hidden="true"></em></button>
                        <a class="btn btn-grey-solid  btn-medium" href="#">Consulter</a>
                    </div>

                </div>
                <div class="ds-card--content">
                    <h3>Masalikoul Jinane</h3>
                    <p>Cheikhoul Khadim</p>
                </div>
        
        </div>

        <div class="ds-card ">
            
            <div class="ds-card--img card-anime">
                <img src="/assets/images/khassida_cover02.png" alt="">

                <div class="ds-card-links">
                    <button class="ds-card--like"> <em class="fontello icon-heart-empty" aria-hidden="true"></em></button>
                    <a class="btn btn-grey-solid  btn-medium" href="#">Consulter</a>
                </div>

            </div>
            <div class="ds-card--content">
                <h3>Masalikoul Jinane</h3>
                <p>Cheikhoul Khadim</p>
            </div>
    
        </div>

        <div class="ds-card">
            <div class="ds-card--img">
                <img src="/assets/images/khassida_cover02.png" alt="">

                <div class="ds-card-links">
                    <button class="ds-card--like"> <em class="fontello icon-heart-empty" aria-hidden="true"></em></button>
                    <a class="btn btn-grey-solid  btn-medium" href="#">Consulter</a>
                </div>
            
            </div>
            <div class="ds-card--content">
                <h3>Nourou Daarayni</h3>
                <p>Cheikhoul Khadim</p>
            </div>
        </div>

        <div class="ds-card">
            <div class="ds-card--img">
                <img src="/assets/images/khassida_cover03.png" alt="">
                <div class="ds-card-links">
                    <button class="ds-card--like"> <em class="fontello icon-heart-empty" aria-hidden="true"></em></button>
                    <a class="btn btn-grey-solid  btn-medium" href="#">Consulter</a>
                </div>
            </div>
            <div class="ds-card--content">
                <h3>Masalikoul Jinane</h3>
                <p>Cheikhoul Khadim</p>
            </div>
        </div>

        <div class="ds-card">
            <div class="ds-card--img">
                <img src="/assets/images/khassida_cover04.png" alt="">
                <div class="ds-card-links">
                    <button class="ds-card--like"> <em class="fontello icon-heart-empty" aria-hidden="true"></em></button>
                    <a class="btn btn-grey-solid  btn-medium" href="#">Consulter</a>
                </div>
            </div>
            <div class="ds-card--content">
                <h3>Nourou Daarayni</h3>
                <p>Cheikhoul Khadim</p>
            </div>
        </div>

        <div class="ds-card ">
            
            <div class="ds-card--img card-anime">
                <img src="/assets/images/khassida_cover02.png" alt="">

                <div class="ds-card-links">
                    <button class="ds-card--like"> <em class="fontello icon-heart-empty" aria-hidden="true"></em></button>
                    <a class="btn btn-grey-solid  btn-medium" href="#">Consulter</a>
                </div>

            </div>
            <div class="ds-card--content">
                <h3>Masalikoul Jinane</h3>
                <p>Cheikhoul Khadim</p>
            </div>
    
        </div>

        <div class="ds-card">
            <div class="ds-card--img">
                <img src="/assets/images/khassida_cover02.png" alt="">

                <div class="ds-card-links">
                    <button class="ds-card--like"> <em class="fontello icon-heart-empty" aria-hidden="true"></em></button>
                    <a class="btn btn-grey-solid  btn-medium" href="#">Consulter</a>
                </div>
            
            </div>
            <div class="ds-card--content">
                <h3>Nourou Daarayni</h3>
                <p>Cheikhoul Khadim</p>
            </div>
        </div>

        <div class="ds-card">
            <div class="ds-card--img">
                <img src="/assets/images/khassida_cover03.png" alt="">
                <div class="ds-card-links">
                    <button class="ds-card--like"> <em class="fontello icon-heart-empty" aria-hidden="true"></em></button>
                    <a class="btn btn-grey-solid  btn-medium" href="#">Consulter</a>
                </div>
            </div>
            <div class="ds-card--content">
                <h3>Masalikoul Jinane</h3>
                <p>Cheikhoul Khadim</p>
            </div>
        </div>


    </div>
</section>




