<footer class="ds-footer">
    <div class="container">

        <!-- <div class="ds-footer-top">

        </div> -->
        <div class="ds-footer-bottom">
            <p class="copyright">
                <span>Copyright © 2022</span>
                <a href="#">Kaggu.sn</a>
            </p>

            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Librarie</a></li>
                <li><a href="#">Nous contacter</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Plan du site</a></li>
            </ul>
        </div>
    </div>

    <a class="back_to_top" title="back to top">
    <em class="fontello icon-up-open-2"></em>
    </a>

</footer>