<section>

    <div class="ds-block_example">
        <form action="">
            <div class="ds-form">
                <div class="input_gpr">
                    <label for="user_name">Nom d'utilisateur</label>
                    <input id="user_name" type="text" placeholder="Votre nom d'utilisateur">
                </div>
    
                <div class="input_gpr">
                    <label for="user_last_name">Nom d'utilisateur</label>
                    <input id="user_last_name" type="text" placeholder="Votre nom d'utilisateur">
                </div>
    
            </div>
        </form>
    
        <form action="">
    
            <div class=" form-type-radio input_gpr_radio">
                <div class="input_check_radio">
                    <input id="monsieur" type="radio" name="civilite" value="Votre nom d'utilisateur">
                </div>
                <label for="monsieur">Nom d'utilisateur</label>
                
            </div>
    
            <div class=" form-type-radio input_gpr_radio">
                <div class="input_check_radio">
                    <input id="madame" type="radio" name="civilite" value="Votre nom d'utilisateur">
                </div>
                <label for="madame">Nom d'utilisateur</label>
                
            </div>
    
            <div class=" form-type-checkbox input_gpr_radio">
                <div class="input_check_radio">
                    <input id="monsieur" type="checkbox" name="civilite" value="Votre nom d'utilisateur">
                </div>
                <label for="monsieur"> Nom d'utilisateur </label>
                
            </div>
    
            <div class=" form-type-checkbox input_gpr_radio">
                <div class="input_check_radio">
                    <input id="madame" type="checkbox" name="civilite" value="Votre nom d'utilisateur">
                </div>
                <label for="madame">Nom d'utilisateur Nom d'utilisateur Nom d'utilisateur  Nom d'utilisateur Nom d'utilisateur Nom d'utilisateur Nom d'utilisateur  Nom d'utilisateur Nom d'utilisateur Nom d'utilisateur Nom d'utilisateur  Nom d'utilisateur Nom d'utilisateur  Nom d'utilisateur</label>
                
            </div>
    
        </form>
    </div>

    <div class="accordion block-collapse" id="accordion_form"> 
        <div class="card">
            <div class="card-header" id="heading_form">
                <button class="btn btn-link accord_btn" type="button" data-toggle="collapse" data-target="#collapse_form" aria-expanded="false" aria-controls="collapse_form">
                    Code HTML
                </button>
            </div>
            <div id="collapse_form" class="collapse" aria-labelledby="heading_form" data-parent="#accordion_form">
                <div class="card-body">
                    <script type="text/plain" class="language-html">
                        <form action="">
                            <div class="ds-form">
                                <div class="input_gpr">
                                    <label for="user_name">Nom d'utilisateur</label>
                                    <input id="user_name" type="text" placeholder="Votre nom d'utilisateur">
                                </div>
                    
                                <div class="input_gpr">
                                    <label for="user_last_name">Nom d'utilisateur</label>
                                    <input id="user_last_name" type="text" placeholder="Votre nom d'utilisateur">
                                </div>
                    
                            </div>
                        </form>
                    </script>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="block-collapse accordionItem close">
     
        <button class="btn btn-link card-header accordionItemHeading" type="button" data-toggle="collapse" data-target="#collapse_form" aria-expanded="false" aria-controls="collapse_form">
            Code HTML
        </button>
        <div id="collapse_form" class="accordionItemContent">
          <p>JavaScript accordions let you squeeze a lot of content into a small space in a Web page.</p>
          <p>This simple accordion degrades gracefully in browsers that don't support JavaScript or CSS.</p>
        </div>
    </div>


    <div class="accordionItem close">
        <button class="btn btn-link accordionItemHeading" type="button" data-toggle="collapse" data-target="#collapse_form" aria-expanded="false" aria-controls="collapse_form">
            Code HTML
        </button>
       
        <div class="accordionItemContent">
          <p>JavaScript accordions let you squeeze a lot of content into a small space in a Web page.</p>
          <p>This simple accordion degrades gracefully in browsers that don't support JavaScript or CSS.</p>
        </div>
    </div> -->

      
</section>