<div class="message alert alert-info"  role="alert">

    <div class="message-content">
        <div class="">
            <button class="message-close" title="Fermer la bannière ">Fermer</button>
        </div>
        <div class="">
            <h2 class="sr-only"></h2>
            <span class="message-icon"></span>
            <div class="message-text">
                <p>Information , problème bloquant le fonctionnement du service</p>

            </div>
        </div>
    </div>
</div>