<div id="sidebar_container" class="sidebar_container">

    <div class="sidebar_container_header">
        <button  type="button" data-target="#menuProfile" aria-controls="menuProfile" aria-expanded="false" class="profile-navbar-toggler">
            Thèmes 
          </button>
    </div>
    <div class="sidebar_container_body " id="menuProfile" >
      <h2 id="sidebar_main_title" class="sidebar_main_title">Thèmes </h2>

      <div class="sidebar_main_content">
          <!-- MENU SIDEBAR -->
          <nav role="navigation" aria-labelledby="sidebar_main_title" class="sidebar">
            <ul class="menu">
                <li class="li-parent">
                <a href="#"  class="menu-link is-active">
                    <em class="fontello icon-book-1" aria-hidden="true"></em>
                    L’exégèse coranique
                </a>
                </li>
                <li class="li-parent">
                <a href="#" class="menu-link">
                     <em class="fontello icon-book-1" aria-hidden="true"></em>
                    La biographie du Prophète (PSL)
                </a>
                </li>
                <li class="li-parent">
                <a href="#" class="menu-link">
                     <em class="fontello icon-book-1" aria-hidden="true"></em>
                    La tradition Prophétique (Hadith)
                </a>
                </li>
                <li class="li-parent">
                <a href="#"  class="menu-link">
                     <em class="fontello icon-book-1" aria-hidden="true"></em>
                    Les sciences Religieuses
                </a>
                </li>
                <li class="li-parent">
                <a href="#" class="menu-link">
                     <em class="fontello icon-book-1" aria-hidden="true"></em>
                    L’histoire de l'Islam
                </a>
                </li>
                <li class="li-parent">
                <a href="#" class="menu-link">
                     <em class="fontello icon-book-1" aria-hidden="true"></em>
                    L’histoire Générale et la Géographie
                </a>
                </li>
                <li class="li-parent">
                <a href="#" class="menu-link">
                     <em class="fontello icon-book-1" aria-hidden="true"></em>
                    Les sciences exactes et sociales
                </a>
                </li>
                <li class="li-parent">
                <a href="#" class="menu-link">
                     <em class="fontello icon-book-1" aria-hidden="true"></em>
                    La rhétorique, la grammaire
                </a>
                </li>
                
            </ul>

            <!-- END MENU SIDEBAR -->
          
          </nav>
          <!-- END MENU SIDEBAR -->
      </div>

    </div>

</div>