---
// Component Imports
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

import Breadcrumb from '../../components/Breadcrumb.astro'; 
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link lang="scss" rel="stylesheet" href={Astro.resolve('../../styles/styles.scss')}>
	<!-- <link rel="stylesheet" href={Astro.resolve('../../styles/global.css')}>
	<link rel="stylesheet" href={Astro.resolve('../../styles/home.css')}> -->
	<link rel="stylesheet" href="../assets/fonts/fonts.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
	
</head>
<body class="main-bg">

	<div class="app">
		<Header />
	
		<main>

            <Breadcrumb />

			<div class="container">
                <section class="mt-50 mb-50 container_630">

            
                    <div class="ds-card-form-ct  mb-50">
                        <div class="ds-card-form__header">
                            <h3 class="ds-card-form__title">Nous contacter</h3>
                        </div>
                        <div class="ds-card-form__body">

                      
                            <form action="">
                                <div class="ds-form">

                                    <div class="input_gpr">
                                        <label for="name_prename">Nom Prénom</label>
                                        <input id="name_prename" type="text" placeholder="Votre nom d'utilisateur">
                                    </div>
                        
                                    <div class="input_gpr">
                                        <label for="email">Email</label>
                                        <input id="email" type="text" placeholder="Votre adresse email">
                                    </div>

                                    <div class="input_gpr">
                                        <label for="phone">Téléphone</label>
                                        <input id="phone" type="text" placeholder="Votre téléphone">
                                    </div>
                        
                                    <div class="input_gpr">
                                        <label for="subject">Sujet </label>
                                        <input id="subject" type="text" placeholder="Sujet">
                                    </div>
                                    <div class="input_gpr">
                                        <label for="message">Message </label>
                                        <!-- <input id="subject" type="text" placeholder="Sujet"> -->
                                        <textarea name="" id="message" cols="30" rows="5"></textarea>
                                    </div>

                                    <div class="input_gpr">
                                        <button type="submit" class="btn btn-green-solid  btn-icon-left btn-icon-mail-1 btn-medium">Envoyer</button>
                                    </div>

                                    
                        
                                </div>
                            </form>
                
                        
                
                        </div>
                      
                    </div>


                  

                </section>

            </div>

		</main>

	    <Footer />

    </div>

 
	<script src="../js/prism.min.js"></script>  
	<script src="../js/script.js"></script>  
	<!-- <script src="../assets/js/prism/min.js"></script>  -->
</body>
</html>
